p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    color: #FFFFFF;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    transform: scale(1.1);
}

section {
    overflow: hidden;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

h {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 400px;
    line-height: 533px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.02;
}

h1 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #D4C17F;
}

h2 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

body {
    background-color: #242B33;
}

.logo a:hover {
    color: #D4C17F;
}

.fonts_houseVOP {
    font-family: 'PostNoBillsJaffna-Regular';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.comp_fonts_HouseVOP {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
}

.fonts_nav {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.font_header_contact {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

header {
    background-image: url("../img/Rectangle.png");
}

.navbar-dark .navbar-brand:hover {
    transition: 0.3s;
    color: #D4C17F;
}

.nav {
    padding-top: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.head_mouse {
    padding: 200px 0 74px;
}

.mouse {
    padding: 100px 0 200px;
}

.advantages {
    padding: 120px 0;
    position: relative;
}

.advantages h4 {
    padding: 53px 5px;
}

.advantages img {
    height: 80px;
}

.flat_loft_three_flow {
    background-image: url("../img/Loft-3.png");
    background-repeat: no-repeat;
    z-index: 1;
}

.flat_loft_two_flow {
    background-image: url("../img/Loft-2.png");
    background-repeat: no-repeat;
}

.flat {
    position: relative;
}

.flat h2 {
    padding-bottom: 100px;
}

.flat h3 {
    padding: 248px 132px 50px 50px;
}

.background_II {
    position: absolute;
    top: -78px;
    right: 42px;
}

.background_III {
    position: absolute;
    top: -64px;
    left: 156px;
    z-index: 0;
}

.background_IV {
    position: absolute;
    right: 197px;
    z-index: -1;
}

.background_V{
    position: absolute;
    top: -53px;
    left: -127px;
    z-index: 0;
}

.watched {
    background-image: url("../img/Background-watch.png");
    background-repeat: no-repeat;
    padding: 180px 0;
}

.watched h2 {
    padding-bottom: 50px;
}

.watched p {
    color: #FFFFFF;
}

input[type='text'], input[type='tel'] {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
    border: none;
    outline: none;
    padding: 12px 0 11px;
}

input[type='text']:focus,
input[type='tel']:focus {
    color: #FFFFFF;
    border: none;
    outline: none;
}

.not_transfer {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
    padding-bottom: 10px;
}

.button_district {
    background-color: #D4C17F;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    padding: 12px 0 11px;
    transition: 0.3s;
}

.button_district:hover {
    background-color: #d0bb4c;
}

.district {
    padding-top: 180px;
}

.video img {
    width: 100%;
    z-index: 1;
}

.video img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#map {
    margin: 100px 0 0;
    height: 358px;
    z-index: 1;
}

.question {
    padding: 180px 0;
}

.question h2 {
    padding-bottom:50px;
}

.question .not_transfer {
    padding: 0 20px;
}

footer {
    padding: 60px 0 35px;
    background-color: #2D343C;
}

footer a {
    padding-bottom: 15px;
}

footer i {
    font-size: 23px;
}

.color_email {
    color: #D4C17F;
}

.icon_footer {
    color: #FFFFFF;
    padding-right: 20px;
}

@media (max-width: 992px) {
    .pb {
        padding-bottom: 20px;
    }

    .question .not_transfer {
        padding-bottom: 20px;
    }
    .watched p {
        padding-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .pb576 {
        padding-bottom: 20px;
    }
}

@font-face {
    font-family: PostNoBillsJaffna-Regular;
    src: url("../fonts/PostNoBillsJaffna-Regular.ttf");
}